tr > * + * {
    padding-left: 10em;
}

td {
    text-align: center;
}

a {
    text-decoration: none;
}

th {
    font: 16px "Times New Roman";
    padding: 1px;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}