.inline {
    display: inline-block;
}

.fl-r {
    float: right;
}

.fl-l {
    float: left;
}

.al-v {
    vertical-align: middle;
}

#titleHeader {
    width: 33%;
}

#linksHeader {
    height: 100%;
    width: 33%;
}

#buttonsHeader {
    vertical-align: top;
    padding-left: 16px;
    width: auto;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 8px;
}

#timeHeader {
    float: right;
    padding-right: 16px;
}